{% extends "main/base_header.html" %}
<!DOCTYPE html>
<html>
<body>
    {% block head %}
        <head>
            {% load static %}
            {% load compress %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static 'CSS/pre_loader.css' %}" />
            <link rel="shortcut icon" type="img/png" href="{% static 'images/favicons/main_icon.ico' %}" />
            <title>Liberink</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
            {% compress css %}
            <link rel="stylesheet" href="{% static 'CSS/base_header.css' %}" />
            <link rel="stylesheet" href="{% static 'CSS/base_content.css' %}" />
            <link rel="stylesheet" href="{% static 'CSS/board_content.css' %}" />
            {% endcompress %}
            <script type="text/javascript"> var api_key = "{{api_key}}"; var board_id = document.URL.split('/')[4];</script>
            {% compress js %}
            <script type="text/javascript" src="{% static 'JS/axios.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'JS/dropdown.js' %}"></script>
            <script type="text/javascript" src="{% static 'JS/axios_settings.js' %}"></script>
            <script type="text/javascript" src="{% static 'JS/edit_list_title.js' %}"></script>
            <script type="text/javascript" src="{% static 'JS/auto_size_textarea.js' %}" async></script>
            <script type="text/javascript" src="{% static 'JS/open_sticker_edit_modal.js' %}" async></script>
            <script type="text/javascript" src="{% static 'JS/add_sticker.js' %}" async></script>
            <script type="text/javascript" src="{% static 'JS/delete_sticker.js' %}" async></script>
            <script type="text/javascript" src="{% static 'JS/delete_list.js' %}" async></script>
            <script type="text/javascript" src="{% static 'JS/edit_columns.js' %}" async></script>
            {% endcompress %}
            <meta http-equiv="Cache-Control" content="no-cache">
        </head>
    {% endblock %}
    {% block content %}
    {% load static %}
    <div id='edit_columns' class="edit_modal" style="display: none;"></div>
    <div id='lists_board'>
        <div class="board_header_text">{{ title }}</div>
        <div class='lists_container'>
            {% for list in lists %}
            <div class='wrapper'>
                <div class='list'>
                    <textarea id='list_label' class="list_title" maxlength="30" spellcheck="false" readonly onclick='edit_list_title(event)'>{{ list.title }}</textarea>
                    {% for sticker in list.stickers %}
                    <div class='sticker_wrapper'>
                        <textarea class="sticker" spellcheck="false" readonly onmousedown="on_stiker_click(event)" ontouchstart="on_stiker_click(event)">{{ sticker.text }}</textarea>
                        <div id="edit_columns" class="edit_modal" style="top: 0; display: none;">
                            <div id='on_sticker_edit edit_modal' style="display: none">
                                <textarea class="sticker" spellcheck="false" oninput="OnInput(event)">{{ sticker.text }}</textarea>
                            </div>
                        </div>
                        <img src="{% static 'images/icons/close.png' %}" onclick="delete_sticker(event)" class='del_sticker'>
                    </div>
                    {% endfor %}
                    <button onclick='add_sticker_to_list(event)' class='add_sticker btn'>
                        <img src="{% static 'images/icons/plus.png' %}" style='width:25px; height: 25px' />
                    </button>
                    <img src="{% static 'images/icons/delete.png' %}" onclick="delete_list(event)" style='display: none;' class='del_list'>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'JS/pre_loader.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/stikers_drag&drop.js' %}" async></script>
    {% endblock %}
</body>
</html>