<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="img/png" href="{% static 'images/favicons/main_icon.ico' %}" />
	<title>Liberink</title>
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'CSS/404.css' %}" />

</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<div></div>
				<h1>403</h1>
			</div>
			<h2>Access denied</h2>
			<a href="/">home page</a>
		</div>
	</div>
</body>
</html>
