.logo {
	height: 40px;
  width: 40px;
}

.page-header::after{
  background: #000;
  content: '';
  width: 100%;
  position: absolute;
  top: 100%;
  height: 2px;
  left: 0;
}

.page-header{
	position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 30px;
  margin: 0 auto;
}

.header_content{
  display: flex;
  justify-content: space-between;
  max-width: 1128px;
  margin: 0 auto;
  /*border-right: 1px solid #efefef;*/

}

.column_settings{
  width: 40px;
  height: 40px; 
  opacity: 0.5; 
  cursor: pointer; 
}
.column_settings:hover {opacity: 1}

.logo_rectangle{
  box-sizing: border-box;
  padding: 5px;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 20%;
}
.header-column{
	display: flex;
  align-items: center;
}
.header-column:first-child{
	text-align: left;
}
.header-column:nth-child(2){
  margin: auto 0px auto 0px;
  cursor: default;
  margin-left: 10px;
}
.header-column:last-child{
	justify-content: flex-end;
  text-align: right; 
  min-width: 141px;
}
.auth-buttons{
	display: inline-block;
}
.btn{
	margin: 0px 0px 0px 10px;
	display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.15rem;
  line-height: 1.5;
  border-radius: .55rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-primary {
  color: #fff;
  background-color:#1b97f3;
  border-color: #1b97f3;
  border-width: 2px;
}
.btn-outline-primary:hover{
	color:#fff;
  background-color:#1784d5;
  border-color:#1784d5;
}
.btn-outline-primary.focus,.btn-outline-primary:focus{
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{
	color:#0e67b8; 
	background-color:transparent
}

.btn-outline:hover{
	color:#fff;
  background-color:#0e67b8;
  border-color:#0e67b8
}
.btn-outline-primary.focus,.btn-outline-primary:focus{
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{
	color:#007bff;
  background-color:transparent
}
.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle{
	color:#a9a9a9;
  background-color:#007bff;
  border-color:#007bff
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-primary.dropdown-toggle:focus
{
  box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}

.link
{
  color:black;
  text-decoration: none; 
  background-color: none;
}
.link:hover {
  color: black;
  text-decoration: none;
}

.company-name{
	font-size:155%;
  text-shadow:  0.3px 0 0.2px #000
}

.profile{
  display: inline-block;
  text-align: center;
  padding: .375rem .75rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
}
.float-right {
	float: right !important;
}

.a-header{
	margin: 0px 0px 0px 10px;
}

.logo_btn:{
  transition:none;
  padding: 0px;
  margin: 0px;
}
.logo_btn:focus{
  box-shadow: none;
}


@font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    font-weight: bold;
    font-style: italic;
    src: local('RobotoCondensed-BoldItalic'),
        url("/static/CSS/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.c783051f11a8.ttf?b29bc9d211ae") format('truetype');
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    font-weight: bold;
    font-style: normal;
    src: local('RobotoCondensed-Bold'),
        url("/static/CSS/fonts/RobotoCondensed/RobotoCondensed-Bold.cbd4e7012693.ttf?b29bc9d211ae") format('truetype');
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    font-weight: bold;
    font-style: normal;
    src: local('RobotoCondensed-Regular'),
        url("/static/CSS/fonts/RobotoCondensed/RobotoCondensed-Regular.52ee8b598488.ttf?b29bc9d211ae") format('truetype');
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    font-weight: bold;
    font-style: normal;
    src: local('RobotoCondensed-Light'),
        url("/static/CSS/fonts/RobotoCondensed/RobotoCondensed-Light.885e5558c908.ttf?b29bc9d211ae") format('truetype');
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.column-h p {
    font-size: 2vw;
}

.column-h {
    color: #000;
    position: absolute;
    z-index: 40;
    margin: 10% 0 10% 3%;
    padding-top: 80px;
    line-height: 1.5em;
    font-size: 3.3vw;
    text-align: left;
}

.column-img-first {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-top: 60px;
    width: 65%;
    filter: drop-shadow(2px 2px 1px #000);
}


body {
    /*f8f8f8*/
    background-color: #fff;
    font-family: "RobotoCondensed-Regular";
    font-style: bolder;
    line-height: 1.3em;
    overflow-x: hidden;

}

header {
    font-family: "RobotoCondensed-Bold";
    font-size: smaller;
    font-style: bold;
}



.area {
    background-color: #fff;
    /*background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(113,36,5,1) 35%, rgba(244,73,4,1) 100%);*/ 
    /*background: rgb(255,75,0);
background: linear-gradient(270deg, rgba(255,75,0,1) 0%, rgba(169,54,7,1) 100%); */
    /*background: linear-gradient(to left, #0e67b8, #1b97f3);*/
    width: 100%;
    height: 100vh;
}

.pulse {
    display: flex;
    animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}



.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 11px;
}

.container_header:last-child {
    text-align: right;
}

.container_header_text {
    font-size: 24px;
    margin: 0px 0px 0px 10px;
    text-align: right;
}

.container_header_icon {
    width: 40px;
    height: 40px;
    justify-content: center;
}

.container_header_text {
    line-height: 24px;
}

.container_row {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container_board {
    width: 300px;
    height: 200px;
    background-image: url("/static/images/boards/1.b43e7101c967.jpg?2e8cc75b31d9");
    background-size: 300px 200px;
    border-radius: 3%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px #d6d3d2;
    margin: 15px;
    color: #fff;
    text-decoration: none;
}

.container_board_only_title {
    padding: 50px 15px 0px 15px;
    font-size: 30px;
    line-height: 30px;
}

.container_board_title {
    padding-top: 20px;
    font-size: 30px;
}

.container_board_description {
    font-size: 15px;
    text-align: center;
    padding: 15px;

}

.container_board_plus {
    opacity: 0.5;
    width: 300px;
    height: 200px;
    border-radius: 3%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px #d6d3d2;
    margin: 10px;
    padding: 60px 120px 60px 120px;
    font-size: 30px;
}

.container_board_plus:hover {
    opacity: 1;
}

.plus_board_icon {
    width: 40px;
    height: 40px;
    margin: 20px 1px 20px 0px;


}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    background-color: #fff;
    overflow: auto;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    border-radius: 10px 10px 10px 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-right: 1px solid #efefef;
}

.dropdown a:hover {
    background-color: #ddd;
}

.edit_menu > * {
    margin: 0px 10px 0px 10px;
}

.board_btn {
    transition: none;
    padding: 0px;
    margin: 0px;
}

.board_btn:focus {
    box-shadow: none;
}

.show {
    display: inline-flex;
}

.form-control {
    font-size: inherit;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    align-items: center;
}

.modal_icon {
    height: 50px;
    width: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 750px;
}

.close {
    padding: 0px !important;
    margin: 0px !important;
    color: #aaaaaa;
    height: 30px;
    width: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;

    text-decoration: none;
    cursor: pointer;
}
.boards {
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper {
    width: 272px;
    margin: 0 10px;
    min-height: 89.4%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.sticker_wrapper {
    height: 0%;
    box-sizing: border-box;
    display: inline-block;
}

.list {
    background-color: #d8d8d8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    border-radius: 5px !important;
    box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);
    filter: drop-shadow(1px 1px 2px #000);

}

.list > * {
    margin: 5px 10px 5px 10px;

}

.list_title {
    background-color: #f8f8f8;
    border: none;
    text-align: center;
    height: 35px;
    padding: 5px;
    margin: 5px;
    resize: none;
    font-style: bolder;
    border-bottom: 1px solid #e3e7e8;
    border-radius: 5px;
}
.list_title:hover{
	cursor : pointer;
}

.show_edit {
    background-color: #fff;
    border: 0.5px solid #888;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.lists_container {
    margin-top: 70px;
    min-height: 670px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border-width: 3px;
    overflow: auto;
}

.lists_container > *{
    margin-top: 30px;
}
.add_sticker {
    margin: 10px 5px 5px 5px;
    background-color: #f8f8f8;
}

.sticker {
    font-family: "RobotoCondensed-Light";
    display: flex;
    min-height: 150px;
    width: 250px;
    background-color: #fff;
    overflow-y: hidden;
    padding: 30px;
    resize: none;
    border: 0;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(9, 30, 66, .25);
    border-radius: 5px;
}

/*margin: 5px 10px 5px 10px;*/
.edit_sticker {
    width: 250px;
    border: 0.5px solid #888;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.stiker_substrate {
    background-color: #a8a8a8;
    border-radius: 5px;
    height:150px;
}

.sticker_wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 150px;
}

.del_sticker {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

.del_sticker:hover {
    opacity: 1;
}

.del_list{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    left: 94.5%;
    margin: 0px;
    top: -15px;
}
.del_list:hover {
    opacity: 1;
}

.edit_modal{
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 65px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.edit_stiker_btn {
	margin-top: 5px;
	display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.15rem;
  line-height: 1.5;
  border-radius: .55rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}